{% extends "/crud/crud_layout.html" %}
{% block title %}Top 100 Users{% endblock %}
{% block header %}Top 100 Users{% endblock %}
{% block add %}{% endblock %}
{% block add_title %}{% endblock %}
{% block headers %}
    <th scope="col">Rank</th>
    <th scope="col">Username</th>
    <th scope="col">Total Score</th>
{% endblock %}
{% block rows %}
    {% for user in top_users %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ user[2] }}</td>
        <td>{{ user[4] }}</td>
    </tr>
    {% endfor %}
{% endblock %}