{% extends "/crud/add_layout.html"%} {%block add_title%}Add Book{%endblock%}
{%block add_header%}Add Book{%endblock%}
{%block action%}/books/add{%endblock%} {%block fields%}
<div class="mb-3">
  <label for="isbn" class="form-label">ISBN</label>
  <input type="text" class="form-control" id="isbn" name="isbn" required />
</div>
<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" name="title" required />
</div>
<div class="mb-3">
  <label for="author_id" class="form-label">Author ID</label>
  <input
    type="number"
    class="form-control"
    id="author_id"
    name="author_id"
    required
  />
</div>
<div class="mb-3">
  <label for="publication_year" class="form-label">Publication Year</label>
  <input
    type="number"
    class="form-control"
    id="publication_year"
    name="publication_year"
    required
  />
</div>
<div class="mb-3">
  <label for="publisher_id" class="form-label">Publisher ID</label>
  <input
    type="number"
    class="form-control"
    id="publisher_id"
    name="publisher_id"
    required
  />
</div>
<button type="submit" class="btn btn-success">
  Add Book
</button>
{%endblock%}
