{% extends "/crud/crud_layout.html" %} {% block title %} Books {% endblock %}
{%block header%}Books{%endblock%} {%block add%}books/add{%endblock%} {%block add_title%}Add Book{%endblock%}

{%block headers%}

<th scope="col">Book Id</th>
<th scope="col">ISBN</th>
<th scope="col">Title</th>
<th scope="col">Author Id</th>
<th scope="col">Publication Year</th>
<th scope="col">Publisher Id</th>
<th scope="col">Operations</th>
{%endblock%} {%block rows%} {%for book in books%}
<tr>
  <td>{{book[0]}}</td>
  <td>{{book[1]}}</td>
  <td>{{book[2]}}</td>
  <td>{{book[3]}}</td>
  <td>{{book[4]}}</td>
  <td>{{book[5]}}</td>
</tr>
{%endfor%} {% endblock %}
