{% extends "layout.html" %} {%block content%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>{%block add_title%}{%endblock%}</title>
  </head>
  <body>
    <div class="container">
      <h2>{%block add_header%}{%endblock%}</h2>
      <form action="{%block action%}{%endblock%}" method="POST">
        {%block fields%}{%endblock%} 
        {% if add_button is defined and add_button%}
        <button type="submit" class="btn btn-success">
          {% block add_button %}{% endblock %}
        </button>
        {% else %}
        <a href="/books" class="btn btn-success">Go Back</a>
        {% endif %}
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

{%endblock%}
