{% extends "/crud/crud_layout.html" %} {% block title %} Authors {% endblock %}
{%block header%}Authors{%endblock%} {%block headers%}
<th scope="col">Author Id</th>
<th scope="col">Name</th>
<th scope="col">Gender</th>
<th scope="col">About</th>
<th scope="col">Image URL</th>
<th scope="col">Country Id</th>
<th scope="col">Operations</th>
{%endblock%} {%block rows%} {%for author in authors%}
<tr>
  <td>{{author[0]}}</td>
  <td>{{author[1]}}</td>
  <td>{{author[2]}}</td>
  <td>{{author[3]}}</td>
  <td>{{author[4]}}</td>
  <td>{{author[5]}}</td>
</tr>
{%endfor%} {%endblock%}
