{% extends "/crud/add_layout.html" %}
{% block add_title %}Update Comment{% endblock %}
{% block add_header %}Update Comment{% endblock %}
{% block add_button %}Update Comment{% endblock %}
{% block action %}/comments/update/{{ comment.comment_id }}{% endblock %}
{% block fields %}
<div class="mb-3">
    <label for="user_id" class="form-label">User ID</label>
    <input type="text" class="form-control" id="user_id" name="user_id" value="{{ comment.user_id }}" required>
</div>
<div class="mb-3">
    <label for="book_id" class="form-label">Book ID</label>
    <input type="text" class="form-control" id="book_id" name="book_id" value="{{ comment.book_id }}" required>
</div>
<div class="mb-3">
    <label for="comment_text" class="form-label">Comment Text</label>
    <textarea class="form-control" id="comment_text" name="comment_text" required>{{ comment.content }}</textarea>
</div>
<div class="mb-3">
    <label for="score" class="form-label">Score</label>
    <input type="number" class="form-control" id="score" name="score" value="{{ comment.score }}" min="1" max="5" required>
</div>
{% endblock %}

<form action="/books/delete/{{ book[0] }}" method="POST" style="display:inline;" onsubmit="return confirmDelete()">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% block scripts %}
<script>
function confirmDelete() {
    return confirm("Are you sure you want to delete this book?");
}
</script>
{% endblock %}